/* ===== nav ===== */
#nav {
    position: relative;
    height: 60px;
}

nav ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /*gap: 20px;!*项目之间的间距*!*/
    list-style: none;
}

nav ul li {
    height: 90%;
    flex: 1;/*每个li平均分配空间*/
    margin: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    width: 90%;
    height: 80%;
    padding: 0 5px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

nav ul li a:hover {
    background-color: #333333;
    transform: translateY(-2px);
    text-decoration: underline;
}