/* ===== header ===== */
header {
    position: relative;
    height:100px;
    width: 100%;
    padding: 10px 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-image: url("../Images/bgd.png");
    background-size: cover;
}

header h1 {
    margin: 0;

    color: white;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;/* 不换行 */
}

/*Logo*/
.xmu_logo {
    width: 80px; /* 调整logo大小 */
    height: 80px;
    text-indent: -9999px;/*文字缩排。设为-9999把文字移走*/

    margin: 0 10px;
    line-height: 80px;

    background-image: url("../Images/XMU_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;/* 防止logo被压缩 */
}

/*.menu {*/
/*    display: none;*/
/*}*/

.menu {
        position: absolute;
        right: 40px; /* 与header的padding一致 */
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        padding: 10px;

        display: block;

        border: none;
        background-color: transparent;
        color: white;
        font-size: 35px;
        cursor: pointer;
        z-index: 999;/* 确保在最上层 */
}