.members {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px
}

.members div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members div h6 {
    color: #333333;
}